<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Certificado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ccertificates.css') }}">
</head>
<body>
    <h1>Editar Certificado</h1>
    <form method="post">
        <label for="company">Empresa:</label>
        <input type="text" id="company" name="company" value="{{ certificate.company }}" required>
        <br>
        <label for="domain">Dominio:</label>
        <input type="text" id="domain" name="domain" value="{{ certificate.domain }}" required>
        <br>
        <label for="issue_date">Fecha de Emisión:</label>
        <input type="date" id="issue_date" name="issue_date" value="{{ certificate.issue_date.strftime('%Y-%m-%d') }}" required>
        <br>
        <label for="expiry_date">Fecha de Expiración:</label>
        <input type="date" id="expiry_date" name="expiry_date" value="{{ certificate.expiry_date.strftime('%Y-%m-%d') }}" required>
        <br>
        <label for="issuer">Emisor:</label>
        <input type="text" id="issuer" name="issuer" value="{{ certificate.issuer }}" required>
        <br>
        <label for="algorithm">Algoritmo:</label>
        <select id="algorithm" name="algorithm" required>
            <option value="SHA256" {% if certificate.algorithm =='SHA256' %}selected{% endif %}>SHA256</option>
            <option value="SHA512" {% if certificate.algorithm =='SHA512' %}selected{% endif %}>SHA512</option>
        </select>
        <br>
        <button type="submit" class="button">Guardar Cambios</button>
    </form>
    <br>
    <a href="{{ url_for('manage_certificates') }}" class="button">Volver a la página de gestión</a>
</body>
</html>
