<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/register.css') }}">
    <title>Registrarse</title>
</head>
<body>
    <h1>Registrarse</h1>
    <form action="/register" method="POST">
        <label for="nombre">Nombre</label>
        <input type="text" name="nombre" id="nombre" placeholder="Nombre" required>

        <label for="apellido_paterno">Apellido Paterno</label>
        <input type="text" name="apellido_paterno" id="apellido_paterno" placeholder="Apellido Paterno" required>

        <label for="apellido_materno">Apellido Materno</label>
        <input type="text" name="apellido_materno" id="apellido_materno" placeholder="Apellido Materno" required>

        <label for="fecha_nacimiento">Fecha de Nacimiento</label>
        <input type="date" name="fecha_nacimiento" id="fecha_nacimiento" required>

        <label for="correo_registro">Correo Electrónico</label>
        <input type="email" name="correo_registro" id="correo_registro" placeholder="example@gmail.com" required>

        <label for="contraseña_registro">Contraseña</label>
        <input type="password" name="contraseña_registro" id="contraseña_registro" required
               pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()\-_=+{}[\]|\\:;<>.,?/~`]).{12,}"
               placeholder="Contraseña (mínimo 6 carácteres)">
        <br>
        <button type="submit" class="button">Registrarse</button>
    </form>
    <br>
    <a href="/" class="button">Volver a la página principal</a>
</body>
</html>